.titulo1.margin20.Font-francois.FontStylebold Bienvenido
	.titulo2.Font-alegreya Sistema de Administración de catálogo
.divider
.Section-secciones
	.Section-item.box.flexbox-colwrp
		.titulo3.margin10.Font-francois.Fontcolor1 Agregar nueva página
		.divider
		.styleicon.icon-logo_nave
		p.Font-lato.Fontcolor1  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis
		.divider
		.btnstyle1
			button.btn 
				a(href="/form") Ir
	.Section-item.box.flexbox-colwrp
		.titulo3.margin10.Font-francois.Fontcolor1 Agregar categoría
		.divider
		.styleicon.icon-logo_Carrito
		p.Font-lato.Fontcolor1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis	
		.divider
		.btnstyle1
			button.btn Ir
	.Section-item.box.flexbox-colwrp
		.titulo3.margin10.Font-francois.Fontcolor1 Ver la base de datos
		.divider
		.styleicon.icon-logo_Basededatos
		p.Font-lato.Fontcolor1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis	
		.divider
		.btnstyle1
			button.btn Ir

	.Section-item.box.flexbox-colwrp
		.titulo3.margin10.Font-francois.Fontcolor1 Ver estadísticas
		.divider
		.styleicon.icon-logo_Estadisticas
		p.Font-lato.Fontcolor1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis	
		.divider
		.btnstyle1
			button.btn Ir
	.Section-item.box.flexbox-colwrp
		.titulo3.margin10.Font-francois.Fontcolor1 Ver usuarios
		.divider
		.styleicon.icon-logo_Usuario
		p.Font-lato.Fontcolor1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis	
		.divider
		.btnstyle1
			button.btn Ir
	.Section-item.box.flexbox-colwrp
		.titulo3.margin10.Font-francois.Fontcolor1 Ver archivos
		.divider
		.styleicon.icon-logo_archivo
		p.Font-lato.Fontcolor1 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis	
		.divider
		.btnstyle1
			button.btn Ir
