extends layout

block content
  //- h1= title
  //- p Welcome to #{title}
  include ./models_jade/Header/template.jade		
  include ./models_jade/Section-main/template.jade
    include ./models_jade/Bienvenido/template.jade
  //- script(src="https://code.jquery.com/jquery-2.1.1.min.js")
  //- script(src="./js/materialize.js")
