<<<<<<< HEAD
extends layout

block content

  include ./models_jade/Header/template.jade		
  include ./models_jade/Section-main/template.jade
    include ./models_jade/Stored/template.jade
=======
extends layout

block content

  include ./models_jade/Header/template.jade		
  include ./models_jade/Section-main/template.jade
    include ./models_jade/Admin-users/template.jade
>>>>>>> d8d944f683a6c916ab93725f0d0d0296328a79b7
