.Table
  width 800px
  &-user-photo
    width 40px
    border-radius 50%
.th
  text-align justify
.td
  margin-top 10px

.facebook-label
  background-color #00f
  padding 4px
  border-radius 0px 5px
  color white
  text-align center
  width 85px

.github-label
  background-color #000
  padding 4px
  border-radius 0px 5px
  color white
  text-align center
  width 85px
