.Section
	width 85vw
	background-color rgba(#E5E5E5, 0.7)
	// &-main
	// 	width 100%
	&-secciones
		display flex
		flex-wrap wrap
		margin 30px auto
		flex-direction row
		justify-content space-around
		align-items flex-start
		align-content space-around
	&-item
		width 250px
		margin 10px